TestResult.xml
build
stage
Results/*
output/*
obj
bin
deploy
deploy/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
*.log*
*.orig
*.swp
*~
*?df
*?DF