<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Queue" value="itch_publisher"/>
    <add key="Server" value="localhost"/>
    <add key="DataFile" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
